<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5UjRvmfj8nJTYOMOhyziaP4eHjQuOX1I</string>
	<key>GCM_SENDER_ID</key>
	<string>675939737068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nabeelaljirbi.salama</string>
	<key>PROJECT_ID</key>
	<string>salama-4e5af</string>
	<key>STORAGE_BUCKET</key>
	<string>salama-4e5af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675939737068:ios:7b48cb6f4233b0bb36b4c9</string>
</dict>
</plist>